<% include Employee_Section/emp_header.ejs %>
<%- messages('Web_Sections/message.ejs',locals)  %>
<div class="mt-5">

    <div class="row px-5 mt-4 mb-5 mx-auto" id="heading_contactList">
        <div class="row headingContactList row col-md-4 mr-2">
            <div class="col">
                <h5>Contact List</h5>
            </div>
            <div class="float-left">
                <button onclick="addContacts_ajaxCall()" type="button" class="btn btn-dark">Add Contacts </button>
            </div>
        </div>
        <div class="col-md-4 customerDetails">
            <h4>Customer Details</h4>
        </div>
    </div>

    <!-- these are two buttons which are responsible for the voice of the call  -->

    <div class=" col-md-6 float-left px-auto mx-auto mt-4 mb-5">
        <h4 class="h4 font-weight-lighter font-weight-normal">Select The Voice</h4>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-success active mr-2">
                <input type="radio" name="options" id="option1" autocomplete="off" checked> Male Voice
            </label>

            <label class="btn btn-danger">
                <input type="radio" name="options" id="option2" autocomplete="off"> Female Voice
            </label>
        </div>
    </div>

    <!-- Buttons which will be used in the script tags 
            to hold donw the voice and it will be used as 
            per the text that pause, stop and resume the voice -->

    <div class=" col-md-6 float-right  px-auto mx-auto mt-4 mb-5">
        <h4 class="h4 font-weight-lighter font-weight-normal">Options During Call</h4>
        <div class="btn-group btn px-2 mx-2">
            <button type="button" id="option1" id="resume_BTN" class="btn btn-success mr-2"> Resume</button>
            <button type="button" id="option1" id="pause_BTN" class="btn btn-warning mr-2"> Pause</button>
            <button type="button" id="option1" id="stop_BTN" class="btn btn-danger"> Stop</button>
        </div>
    </div>



    <div id="responseofAjax">

    </div>



    <div class="col-lg-12 mt-5  px-auto mt-3">

        <div class="container">
            <h4 class="btn-group-vertical px-3 mb-3">
                Customer Contacts
                <small class="text-muted">Click the Button to Call</small>
            </h4>
        </div>
        <!-- start of call buttons -->
        <div class="float-left px-auto mx-auto col-md-2" id="contactsOfCustomer">
            <ul class="list-group list-group-flush mx-auto px-auto col-md-2 float-left " id="contactList_UL">
                <% response.forEach((element,count)=> { %>
                <li class="list-group-item float-left" id="<%=element.contact_ID  %>"><button type="button"
                        class="btn btn-success float-left" id="<%=element.contact_ID  %>"
                        onclick="callbtn(this.id)">Call</button> </li>
                <% }) %>
            </ul>
        </div>
        <!-- end call buttons -->


        <!-- interested, not interested buttons  -->
        <div class="float-left px-auto mx-auto col-md-8" id="contactInfo">
            <div class="card">
                <div class="timerCount card-header">
                    <h5 id="contactInfo_heading"></h5>

                    <div class="counter">
                        <span id="s_seconds"> 00</span>
                        <p>Second: </p>
                        <span id="s_minutes">00</span>
                        <p>Minute: </p>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups"
                        id="customerComments">
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                            <button class="btn btn-success" id="interestedBTN"
                                onclick="interestedBTN_onclick(this.value)">Interested</button>
                        </div>
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                            <button class="btn btn-danger" id="notInterestedBTN"
                                onclick="notInterestedBTN_onclick(this.value)">Not
                                Interested</button>
                        </div>
                        <div class="btn-group mr-2" role="group" aria-label="Second group">
                            <button class="btn btn-secondary" id="callbackBTN"
                                onclick="callBackBTN_onclick(this.value)">Callback</button>
                        </div>
                        <div class="btn-group" role="group" aria-label="Third group">
                            <button class="btn btn-warning" id="laterBTN"
                                onclick="laterBTN_onclick(this.value)">Later</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- End interested, not interested buttons  -->
    </div>

    <!-- this is the modal which will be responsible and it will display if there is no more contacts available in DB -->
    <div class="modal fade " id="noMoreContacts" data-backdrop="static" data-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Important Note</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4 id="noMoreContacts_Text"></h4>
                    <h6 id="contactAdmin"></h6>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- end of modal -->

</div>





<!-- 
<div class="bg-dark mt-5 float-left mx-auto px-auto border border-danger">
    <div class="card">
        <div class="timerCount card-header">
            <h5 id="contactInfo_heading"></h5>

            <div class="counter">
                <span id="s_seconds"> 00</span>
                <p>Second: </p>
                <span id="s_minutes">00</span>
                <p>Minute: </p>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" id="customerComments">
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    <button class="btn btn-success" id="interestedBTN"
                        onclick="interestedBTN_onclick(this.value)">Interested</button>
                </div>
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    <button class="btn btn-danger" id="notInterestedBTN"
                        onclick="notInterestedBTN_onclick(this.value)">Not
                        Interested</button>
                </div>
                <div class="btn-group mr-2" role="group" aria-label="Second group">
                    <button class="btn btn-secondary" id="callbackBTN"
                        onclick="callBackBTN_onclick(this.value)">Callback</button>
                </div>
                <div class="btn-group" role="group" aria-label="Third group">
                    <button class="btn btn-warning" id="laterBTN" onclick="laterBTN_onclick(this.value)">Later</button>
                </div>
            </div>
        </div>
    </div>
</div>
 -->


<script>
    var resq = JSON.parse('<%-JSON.stringify(avatar)%>'),
        sythesisVar = window.speechSynthesis,
        voices = []
    // getting the voices from the API Mozilla MDN
    const getVoices = () => {
        voices = sythesisVar.getVoices()
    }

    // The voices will be added when the onvoicechanged is triggered !!!! 
    //then the voices will be added
    getVoices();
    if (sythesisVar.onvoiceschanged !== undefined)
        sythesisVar.onvoiceschanged = getVoices

    const SpeakText = (value) => {
        if (sythesisVar.speaking) {
            console.error("Already Speaking")
            return
        }
        if (value !== '') {
            const speakTEXT_Utterance = new SpeechSynthesisUtterance(value)

            speakTEXT_Utterance.onend = e => {
                console.log("Done Speaking")
            }

            speakTEXT_Utterance.onerror = e => {
                console.error('There is something wrong' + e.error)
            }

            const maleVoice = 'Microsoft David Desktop - English(United States)',
                femaleVoice = 'Microsoft Zira Desktop - English (United States)'

            voices.forEach(element => {
                if (element.name === femaleVoice) {
                    console.log(element)
                    speakTEXT_Utterance.voice = element

                }
            })


            sythesisVar.speak(speakTEXT_Utterance)
        }
    }


    function speakTEXT(value) {
        console.log(value)
        SpeakText(value)


    }







</script>




<script>
    var response = JSON.parse('<%-JSON.stringify(response)%>')
    var user = JSON.parse('<%-JSON.stringify(user)%>')



    //function for the fade of the alert
    function alert_Fade(name_of_alert) {
        $(`#${name_of_alert}`).fadeTo(2000, 500).slideUp(500, function () {
            $(`#${name_of_alert}`).slideUp(500);
        });
    }


    function callbtn(id) {
        $('.btn-group').children().prop('disabled', false);
        startStopwatch()
        $('#contactInfo_heading').html(id)
        $('#interestedBTN').val(id)
        $('#notInterestedBTN').val(id)
        $('#callbackBTN').val(id)
        $('#laterBTN').val(id)
        $('#contactInfo').fadeTo("slow", 1)
    }


    function interestedBTN_onclick(value) {
        stopStopwatch()
        statusUpdateonCall('Interested', value)
    }

    function laterBTN_onclick(value) {
        stopStopwatch()
        statusUpdateonCall('Later', value)

    }

    function callBackBTN_onclick(value) {
        stopStopwatch()
        statusUpdateonCall('CallBack', value)

    }

    function notInterestedBTN_onclick(value) {
        stopStopwatch()
        statusUpdateonCall('Not Interested', value)

    }



    function statusUpdateonCall(status, contact_ID) {

        $.ajax({
            url: '/updateStatusof_Contact',
            type: 'POST',
            data: {
                status,
                contact_ID,
                minutes: $('#s_minutes').html(),
                seconds: $('#s_seconds').html()
            },
            success: ((result) => {
                console.log(result)
                if (result.length > 0) {
                    $('#responseofAjax').addClass('alert alert-success')
                    $('#responseofAjax').html('Successfully! Status Updated.')
                    alert_Fade('responseofAjax')
                    $('.btn-group').children().prop('disabled', true);
                    $('#' + contact_ID).remove()
                    $('#contactInfo').fadeTo(1000, 0.2)
                    resetStopwatch()
                } else {
                    $('#responseofAjax').addClass('alert alert-danger')
                    $('#responseofAjax').html('Error! Status not Updated.')
                    alert_Fade('responseofAjax')
                }

            })
        })


    }


    function addContacts_ajaxCall() {
        var contactList = document.getElementById('contactList_UL')
        $.ajax({
            url: '/addContacts_to_List',
            type: 'GET',
            success: ((result) => {
                if (result.status) {
                    $('#noMoreContacts_Text').html(result.status)
                    $('#contactAdmin').html('Contact Your Admin')
                    $('#noMoreContacts').modal('show')
                } else if (result.response.length > 0) {
                    result.response.forEach(element => {
                        var li = document.createElement('li')
                        li.className = 'list-group-item'
                        li.id = element.contact_ID
                        li.innerHTML = `<button type="button" class="btn btn-success"
                id="${element.contact_ID}" onclick="callbtn(this.id)">Call</button>`
                        contactList.append(li)
                    });
                    //$('#contactInfo').fadeTo("slow", 1)

                }
            })
        })
    }
</script>
<script>
    let offset = 0,
        paused = true;

    render();

    function startStopwatch(evt) {
        if (paused) {
            paused = false;
            offset -= Date.now();
            render();
        }
    }

    function stopStopwatch(evt) {
        if (!paused) {
            paused = true;
            offset += Date.now();
        }
    }

    function resetStopwatch(evt) {
        if (paused) {
            offset = 0;
            render();
        } else {
            offset = -Date.now();
        }
    }

    function format(value, scale, modulo, padding) {
        value = Math.floor(value / scale) % modulo;
        return value.toString().padStart(padding, 0);
    }

    function render() {
        var value = paused ? offset : Date.now() + offset;
        document.querySelector('#s_seconds').textContent = format(value, 1000, 60, 2);
        document.querySelector('#s_minutes').textContent = format(value, 60000, 60, 2);

        if (!paused) {
            requestAnimationFrame(render);
        }
    }
</script>


<!-- Do not touch these two ending div tags  -->
<!-- they are from the footer.ejs file ending tags -->
</div>
</div>






<% include Employee_Section/emp_footer.ejs %>








<!-- 






            


            !-- this is a menu which will contain the customer response like interested, later or anything else --



            <div class="col-lg-9 bg-dark" id="contactInfo">
                <div class="card">
                    <div class="timerCount card-header">
                        <h5 id="contactInfo_heading"></h5>

                        <div class="counter">
                            <span id="s_seconds"> 00</span>
                            <p>Second: </p>
                            <span id="s_minutes">00</span>
                            <p>Minute: </p>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" id="customerComments">
                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                <button class="btn btn-success" id="interestedBTN" onclick="interestedBTN_onclick(this.value)">Interested</button>
                            </div>
                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                <button class="btn btn-danger" id="notInterestedBTN" onclick="notInterestedBTN_onclick(this.value)">Not
                        Interested</button>
                            </div>
                            <div class="btn-group mr-2" role="group" aria-label="Second group">
                                <button class="btn btn-secondary" id="callbackBTN" onclick="callBackBTN_onclick(this.value)">Callback</button>
                            </div>
                            <div class="btn-group" role="group" aria-label="Third group">
                                <button class="btn btn-warning" id="laterBTN" onclick="laterBTN_onclick(this.value)">Later</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->